.colorUIContainer {
  position: absolute;
  bottom: 0;
  right: 0;

  display: flex;
  gap: 16px;

  padding: 16px 8px;

  pointer-events: auto;
  transition: 300ms translate ease-in-out;
}

.inputColorWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2px;

  color: var(--color-lighter);
  font-size: large;
  text-transform: capitalize;

  & input {
    background-color: var(--color-normal);
    border: unset;
    cursor: pointer;
    width: 32px;
    height: 28px;
    border-radius: 2px;
  }
}

.hiddenContainer {
  translate: 100% 0%;
}

@media (max-width: 460px) {
  .colorUIContainer {
    right: unset;
    left: 0;
    bottom: unset;
  }

  .inputColorWrapper {
    font-size: small;
  }

  .hiddenContainer {
    translate: 0% -100%;
  }
}
