.wrapper {
  position: absolute;
  top: 0;
  left: 0;

  display: flex;

  height: 100%;

  pointer-events: auto;
}
.furnitureContainer {
  width: 220px;
  height: 100%;

  box-shadow: 0px 0px 10px var(--color-gray);

  background-color: var(--color-normal);

  box-sizing: border-box;
}

.hiddenContainer {
  display: none;
}

nav {
  list-style-type: none;
}

.li {
  display: flex;
  align-items: center;
  margin: 8px 0px;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;

  padding: 8px;

  font-size: 16px;
  color: var(--color-lighter);

  & label {
    margin: 0px 4px;
  }
}

.radioContainer {
  display: flex;
  align-items: center;
}

.btn {
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-size: 16px;
  text-transform: capitalize;
  color: var(--color-lighter);

  text-align: left;

  width: 100%;
  padding: 6px 8px;
}

.btn:hover {
  background-color: var(--color-gray);
}

.iconTitleWrapper {
  display: flex;
  align-items: center;
  gap: 8px;
}

.btnIcon {
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 20px;

  width: 36px;
  height: 36px;

  margin: 4px;
}

.hideBtn {
  width: 24px;
  height: 24px;
  background-color: var(--color-normal);

  border-top-left-radius: 8px;
  border-top-right-radius: 8px;

  box-shadow: 0px -2px 6px var(--color-gray);

  transform: rotate(90deg);
  border: unset;
}

.addIcon {
  width: 24px;
  height: 24px;

  font-size: 20px;
  text-align: center;

  background-color: var(--color-gray);
  border-radius: 50%;

  margin: 0px 4px;
}

.upArrow {
  width: 0px;
  height: 0px;

  border-bottom: 12px solid var(--color-lightest);
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;

  margin: auto;
}

.downArrow {
  width: 0px;
  height: 0px;

  border-top: 12px solid var(--color-lightest);
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;

  margin: auto;
}

@media (max-width: 460px) {
  .wrapper {
    flex-direction: column-reverse;
    top: unset;
    bottom: 0;
    height: unset;
  }
  .furnitureContainer {
    width: 100%;
    height: 160px;

    overflow: hidden;
  }

  .btnContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 0px 8px;

    height: 100%;
    overflow-y: scroll;
  }

  nav {
    overflow: scroll;
    height: 80%;
  }

  .btn,
  .form {
    font-size: small;
  }

  .li {
    width: 48%;
  }

  .hideBtn {
    transform: unset;
  }
}
