.furnitureContainer {
  position: absolute;
  top: 0;
  left: 0;

  width: min(30%, 300px);
  height: 100%;

  padding: 8px;

  background-color: hsla(52, 66%, 40%, 0.5);

  box-sizing: border-box;
  pointer-events: auto;
}

nav {
  list-style-type: none;
}

nav li {
  margin: 8px 0px;
}

button {
  font-size: 16px;

  padding: 4px;
  margin: auto;

  border: 1px solid black;
  border-radius: 8px;
}
